{% extends 'content/base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block main %}
<div id="rooms">

</div>

<script>
	async function getRooms() {
		const response = await fetch("http://127.0.0.1:8000/api/rooms/");
		const rooms = await response.json();

		const div = document.getElementById("rooms");

		rooms.forEach(room => {
			const roomElement = document.createElement("div");

			roomElement.textContent = room.name;

			div.appendChild(roomElement);
		});
	}

	getRooms();
</script>


{% endblock %}
