{% extends 'chat/base.html' %}

{% block title %}
Home page
{% endblock%}

{% block main %}

<div class="container">

	<div class="card">
		<div id="message">
		</div>
		<p class="title">Logout</p>
		<button onclick="requestLogOut()" class="btn btn-primary">Click</button>
	</div>

	<div class="card">
		<p class="title">Create Room</p>

		<form>
			<div class="field">
				<label>Title</label>
				<input name="title" type="text" placeholder="Your title">
			</div>

			<div class="field">
				<label>Description</label>
				<input name="description" type="text" placeholder="Your description">
			</div>

			<button class="btn btn-primary" type="submit">Submit</button>
		</form>

	</div>

	<div class="card">
		<p class="title">Join Room</p>

		<div class="field">
			<form id="joinForm">

				<label>Tag</label>
				<input name="tag" type="text" placeholder="enter room tag" id="tag">
				<div id="join"></div>
				<button class="btn btn-primary" type="submit" style="margin:10px">Submit</button>
			</form>
		</div>

	</div>
	<div id="hello">

	</div>

</div>


<script>

	// gets csrf token
	function getCookie(name) {
		const value = `; ${document.cookie}`;
		const parts = value.split(`; ${name}=`);
		if (parts.length === 2) return parts.pop().split(';').shift();
	}


	async function roomJoin(room_code) {
		// change this later
		const csrfToken = getCookie("csrftoken");

		// this a trick to make use dynamic DTS but with js So i shouldnt change every varialbe in production code 
		// if you want to cut the code to a frontend framework or .js file you should be alerted that this code is not 
		// going to get compiled.
		let url = "{% url 'roomJoinApi' pk=1001 %}"
		url = url.replace(1001, `${room_code}`)



		try {
			const response = await fetch(url, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"X-CSRFToken": csrfToken
				},
				body: JSON.stringify({
					"join": true,
				})
			});


			if (!response.ok) {
				const message = document.getElementById("join");
				const data = await response.json()
				message.innerHTML =
					`<span class='badge badge-danger badge-shake'> ${data.error} </span>`;
			} else {

				const message = document.getElementById("join");
				message.innerHTML =
					`<span class='badge badge-success badge-shake'> ${data.error} </span>`;
			}
		} catch (error) {
		}

		// this is like a update room you can make method or better do a class but i like this, its simple.

		const element = document.getElementById("hello");
		element.innerHTML = ""
		getRoom()


	}


	async function getMemberDetail(id) {
		try {
			let url = "{% url 'membership-detail' room=2002 %}";
			url = url.replace("2002", id);

			const response = await fetch(url);

			if (response.ok) {
				const data = await response.json();
				return data;
			}

		} catch (error) {
			console.error(error.message);
		}
	}


	async function requestLogOut() {
		try {
			const response = await fetch("{% url 'logoutApi' %}");

			if (!response.ok) {
				throw new Error(`HTTP error: ${response.status}`);
			}

			const message = document.getElementById("message");

			message.innerHTML =
				"<span class='badge badge-success badge-shake'>success</span>";

			setTimeout(() => {
				window.location.href = "{% url 'homepage' %}";
			}, 1000);

		} catch (error) {
			console.error(error.message);
		}
	}


	async function getRoom() {
		const url = "{% url 'room-list' %}";
		const element = document.getElementById("hello");

		try {
			const response = await fetch(url);
			const data = await response.json();


			if (!response.ok) {
				console.log(data.error);
				return;
			}

			for (const room of data) {

				// Get this user's membership for this room
				const m_data = await getMemberDetail(room.id);

				let url_room = `{% url 'room-detail-page' pk=1001 %}`
				url_room = url_room.replace(1001, room.code)
				if (m_data && m_data.is_admin) {

					element.innerHTML += `
                        <div class="card">
                        	<p class="title">${room.title}</p>
				<a href=${url_room}>
                        		<button class="btn btn-primary">See Chat</button>
				</a>
                		<button class ="btn btn-success">edit</button>
                        	<button class ="btn btn-danger">delete</button>
                        </div>
                    `;

				} else {

					element.innerHTML += `
                        <div class="card">
                        	<p class="title">${room.title}</p>
				<a href=${url_room}>
                        		<button class="btn btn-primary">See Chat</button>
				</a>
                        </div>
                    `;
				}
			}

		} catch (error) {
			console.error(error.message);
		}
	}

	document.getElementById("joinForm").addEventListener("submit", function (event) {
		event.preventDefault();

		const text = document.getElementById("tag").value;
		roomJoin(text)
		const element = document.getElementById("hello");


	});

	getRoom();
</script>
{% endblock %}
