{% extends 'chat/base.html' %}

{% block title %}
Home page
{% endblock%}
{% block main %}
<div class="container">
	<div class="card">

		<p class="title">Sign up</p>
		<a href="{% url 'signup' %}">
			<button class="btn btn-primary">Click</button>
		</a>
	</div>

	<div class="card">
		<p class="title">Login</p>
		<a href="{% url 'login' %}">
			<button class="btn btn-primary">Click</button>
		</a>
	</div>

	<div class="card">
		<p class="title"> Please Sign up or Log in</p>
	</div>
</div>
{% endblock %}
