{% extends 'chat/base.html' %}

{% block title %}
Home page
{% endblock%}
{% block main %}
{% if user.is_authenticated %}
<div class="container">

	<div class="card">
		<p class="title">Sign up</p>
		<a href="{% url 'signup' %}">
			<button class="btn btn-primary">Click</button>
		</a>
	</div>

	<div class="card">
		<p class="title">Login</p>
		<a href="{% url 'login' %}">
			<button class="btn btn-primary">Click</button>
		</a>
	</div>

	<div class="card">
		<p class="title">Hello world</p>
	</div>



</div>
{% else %}
<div class="container">

	<div class="card">
		<p class="title">User</p>

		<span class="badge badge-success">Authenticated</span>
	</div>

</div>
{% endif %}


{% endblock %}
